# Generate Randomized Data Set v1

In [1]:
import numpy as np
import pandas as pd

def generate_random_df(num_rows=10000):
    # 1) Integer column
    int_col = np.random.randint(0, 1000, size=num_rows)
    
    # 2) Float column
    float_col = np.random.rand(num_rows)
    
    # 3) String (object) column
    #    We'll pick random strings of length 5 composed of uppercase letters
    random_strings = [
        ''.join(np.random.choice(list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'), size=5))
        for _ in range(num_rows)
    ]
    
    # 4) Boolean column
    bool_col = np.random.choice([True, False], size=num_rows)
    
    # 5) Datetime column
    #    Generate a date range, then pick random samples from it
    date_range = pd.date_range('2000-01-01', periods=2*num_rows, freq='D')
    datetime_col = np.random.choice(date_range, size=num_rows)
    
    # 6) Timedelta column
    #    Create random integer days, then convert to Timedelta
    rand_days = np.random.randint(0, 1000, size=num_rows)
    timedelta_col = pd.to_timedelta(rand_days, unit='D')
    
    # 7) Categorical column
    categories = ['Red', 'Green', 'Blue', 'Yellow', 'Black']
    cat_col = np.random.choice(categories, size=num_rows)
    cat_col = pd.Categorical(cat_col, categories=categories)
    
    # 8) Complex column
    #    Combine random floats for real and imaginary parts
    complex_col = np.random.rand(num_rows) + 1j * np.random.rand(num_rows)
    
    # Assemble into a dictionary
    data = {
        'int_col': int_col,
        'float_col': float_col,
        'str_col': random_strings,
        'bool_col': bool_col,
        'datetime_col': datetime_col,
        'timedelta_col': timedelta_col,
        'cat_col': cat_col,
        'complex_col': complex_col
    }
    
    # Create DataFrame
    df = pd.DataFrame(data)
    return df

# Example usage
df_random = generate_random_df(10000)
print(df_random.info())
print(df_random.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   int_col        10000 non-null  int32
 1   float_col      10000 non-null  float64
 2   str_col        10000 non-null  object
 3   bool_col       10000 non-null  bool
 4   datetime_col   10000 non-null  datetime64[ns]
 5   timedelta_col  10000 non-null  timedelta64[ns]
 6   cat_col        10000 non-null  category
 7   complex_col    10000 non-null  complex128
dtypes: bool(1), category(1), complex128(1), datetime64[ns](1), float64(1), int32(1), object(1), timedelta64[ns](1)
memory usage: 527.7+ KB
None
   int_col  float_col str_col  bool_col datetime_col timedelta_col cat_col  \
0      123   0.877557   DZXKE     False   2006-05-29      849 days  Yellow
1      896   0.853197   HHRKF      True   2011-12-11      747 days   Green
2      154   0.829659   BGRER     False   2002-09-04       15 days    Blue
3      342   0.871161   DSIKD      True   2034-11-26      992 days    Blue
4       14   0.778305   HPJED     False   2009-02-06      976 days     Red

          complex_col
0  0.930888+0.949241j
1  0.154265+0.759217j
2  0.077769+0.241896j
3  0.777767+0.434159j
4  0.059707+0.024499j

In [2]:
df_random

,int_col,float_col,str_col,bool_col,datetime_col,timedelta_col,cat_col,complex_col
0,123,0.877557,DZXKE,False,2006-05-29,849 days,Yellow,0.930888+0.949241j
1,896,0.853197,HHRKF,True,2011-12-11,747 days,Green,0.154265+0.759217j
2,154,0.829659,BGRER,False,2002-09-04,15 days,Blue,0.077769+0.241896j
3,342,0.871161,DSIKD,True,2034-11-26,992 days,Blue,0.777767+0.434159j
4,14,0.778305,HPJED,False,2009-02-06,976 days,Red,0.059707+0.024499j
...,...,...,...,...,...,...,...,...
9995,817,0.226143,SMOCX,True,2033-11-04,236 days,Green,0.735022+0.195327j
9996,204,0.965456,QNDRJ,False,2018-01-15,723 days,Blue,0.828005+0.887696j
9997,662,0.637535,SUFRD,False,2024-05-06,239 days,Yellow,0.042238+0.896905j
9998,280,0.754311,ZECGS,False,2051-12-14,545 days,Black,0.355024+0.686082j
9999,978,0.113286,DIGVK,False,2047-12-30,3 days,Yellow,0.905173+0.738100j

In [4]:
df_random['cat_col'].value_counts()

cat_col
Green     2051
Red       2023
Blue      2014
Black     2002
Yellow    1910
Name: count, dtype: int64

In [5]:
df = df_random.copy()

max_datetime_indices = df.groupby('cat_col')['datetime_col'].idxmax()
df_max_datetime_per_cat = df.loc[max_datetime_indices]

# min_datetime_indices = df.groupby('cat_col')['datetime_col'].idxmin()
# df_min_datetime_per_cat = df.loc[min_datetime_indices]

display(df_max_datetime_per_cat)

C:\Users\srobi\AppData\Local\Temp\ipykernel_31368\1067516648.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  max_datetime_indices = df.groupby('cat_col')['datetime_col'].idxmax()

,int_col,float_col,str_col,bool_col,datetime_col,timedelta_col,cat_col,complex_col
403,495,0.487373,UTJUG,True,2054-09-29,499 days,Red,0.415588+0.466032j
9808,931,0.725176,EAEDD,False,2054-10-03,388 days,Green,0.888295+0.116972j
8387,606,0.040744,UJDKT,True,2054-09-03,380 days,Blue,0.291439+0.576668j
2075,899,0.582144,YVNVB,True,2054-09-25,945 days,Yellow,0.886086+0.750267j
7588,101,0.629371,TPYGL,True,2054-09-20,636 days,Black,0.124976+0.751283j

In [6]:
df_top3_datetime_per_cat = (
    df
    .groupby('cat_col', group_keys=True)
    .apply(lambda g: g.nlargest(3, 'datetime_col'))
)

display(df_top3_datetime_per_cat)

# df_top3_smallest_per_cat = (
#     df
#     .groupby('cat_col', group_keys=True)
#     .apply(lambda g: g.nsmallest(3, 'datetime_col'))
# )

# display(df_top3_smallest_per_cat)

C:\Users\srobi\AppData\Local\Temp\ipykernel_31368\3743403639.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby('cat_col', group_keys=True)

              int_col  float_col str_col  bool_col datetime_col timedelta_col  \
cat_col
Red     403       495   0.487373   UTJUG      True   2054-09-29      499 days
        7345      484   0.624321   BKADV      True   2054-09-27      224 days
        425        44   0.068021   QDKGI      True   2054-09-26      261 days
Green   9808      931   0.725176   EAEDD     False   2054-10-03      388 days
        5529      894   0.285167   BQYVS     False   2054-09-20      133 days
        4359      555   0.848221   EOIEV     False   2054-08-26       62 days
Blue    8387      606   0.040744   UJDKT      True   2054-09-03      380 days
        6139      824   0.877712   EYZLL     False   2054-08-29      966 days
        1817      490   0.914366   JPJAZ     False   2054-08-25      128 days
Yellow  2075      899   0.582144   YVNVB      True   2054-09-25      945 days
        8536      219   0.593332   MKMLA     False   2054-09-21      105 days
        9913      639   0.347884   REXQX      True   2054-09-21      186 days
Black   7588      101   0.629371   TPYGL      True   2054-09-20      636 days
        3998      175   0.383397   DDRPB     False   2054-08-16      780 days
        3230      733   0.598038   BBXEF      True   2054-07-25      458 days

             cat_col         complex_col
cat_col
Red     403      Red  0.415588+0.466032j
        7345     Red  0.205280+0.064991j
        425      Red  0.103562+0.831743j
Green   9808   Green  0.888295+0.116972j
        5529   Green  0.924488+0.390266j
        4359   Green  0.591212+0.466222j
Blue    8387    Blue  0.291439+0.576668j
        6139    Blue  0.058777+0.071702j
        1817    Blue  0.169772+0.040728j
Yellow  2075  Yellow  0.886086+0.750267j
        8536  Yellow  0.723887+0.773101j
        9913  Yellow  0.754542+0.880157j
Black   7588   Black  0.124976+0.751283j
        3998   Black  0.088993+0.523032j
        3230   Black  0.777442+0.526340j